<div class="col-md-12">
  <div class="col-md-9">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4><i class="fa fa-bars" aria-hidden="true"></i> รายการ TODO</h4>
        <p>จำนวน TODO list ทั้งหมด  : <%= @count %></p>
      </div>
      <div class="panel-body">
        <div class="row bottom-margin-list">
          <div class="col-md-12">
            <div class="col-md-4">
              <%=link_to 'เพิ่มรายการ TODO' , new_project_list_path , class: 'btn btn-info btn-lg' %>
            </div>
            <div class="col-md-4 col-md-offset-4">
              <%= link_to 'กลับ' , projects_path , class: 'btn btn-default btn-lg float-right' %>
            </div>
          </div>
        </div>
        <% @lists.each do |list| %>
          <div class="col-md-6">
            <div class="well well-lg">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-completed"><b>หัวข้อเรื่อง : </b><%= list.title %> </p>
                  <p><b>ความสำคัญ : </b> <span class="label" style="background-color: <%= list.priority_color %>"><%=list.priority_with_name %></span></p>
                  <p><b>เวลาที่เหลือ : </b><%= list.cal_remain_date %></p>
                  <p><b>ผู้ใช้</b> : <%= list.user.name_email %></p>
                </div>
                <div class="col-md-3">
                  <p><span class="<%= list.dateline_notification_color %>" %><%= list.dateline_notification_text %></span></p>
                </div>
              </div>
              <div class="right">
                <%=link_to " ทำเสร็จแล้ว" , project_list_complete_path(@project.id , list) , method: :post , class: 'fa fa-check-square-o btn btn-success'  %>
                <%=link_to " แก้ไข" , edit_project_list_path(@project.id , list) , class: 'fa fa-pencil-square-o btn btn-default' %>
                <%=link_to " ลบ" ,  project_list_path(@project.id , list) , method: :delete  , class: 'fa fa-trash-o btn btn-danger' , data: {confirm: 'ท่านแน่ใจหรือว่าจะลบรายการนี้ ?'} %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4><i class="fa fa-check-square-o" aria-hidden="true"></i></span> สิ่งที่ทำเสร็จแล้ว</h4>
        <p>จำนวน TODO list ที่ทำเสร็จทั้งหมด : <%= @complete_count %></p>
      </div>
      <div class="panel-body">
        <% @complete_list.each do |list| %>
            <p class="complete-warp">
              <b>หัวข้อเรื่อง</b> : <%= list.title %> <%= link_to 'ลบ' , project_list_del_completed_path(@project.id , list) , method: :delete , data: {confirm: 'ท่านแน่ใจหรือว่าจะลบรายการที่ทำเสร็จแล้ว ?'} %>
              <%= link_to 'นำกลับ' , project_list_completed_restore_path(@project.id , list) , method: :post %>
            </p>
            <hr>
        <% end %>

      </div>
    </div>
  </div>
</div>
