<div class="col-md-12">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-list"></span> รายการ TODO</h4>
        <p>จำนวน TODO list ทั้งหมด  : <%= @count %></p>
      </div>
      <div class="panel-body">
        <h3><%=link_to 'เพิ่มรายการ TODO' , new_list_path , class: 'btn btn-info' %></h3>
        <% @lists.each do |list| %>
          <div class="well well-lg">
            <p class="text"><b>หัวข้อเรื่อง</b> : <%= list.title %></p>
            <p><b>ผู้ใช้</b> : <%= list.user.email %></p>
            <p><b>ความสำคัญ : <%=list.priority_id.nil? ? "" : list.priority.name %></b></p>
            <div class="right">
              <div class="col-m-3">
                <%=link_to "ลบ" ,  list_path(list) , method: :delete  , class: 'btn btn-danger' %>
                <%=link_to "ทำเสร็จแล้ว" , list_complete_path(list) , method: :post , class: 'btn btn-success'  %>
                <%=link_to "แสดงเพิ่มเติม" , list_path(list) , class: 'btn btn-info' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h4><span class="glyphicon glyphicon-ok"></span> สิ่งที่ทำเสร็จแล้ว</h4>
        <p>จำนวน TODO list ที่ทำเสร็จทั้งหมด : <%= @complete_count %></p>
      </div>
      <div class="panel-body">
        <% @complete_list.each do |list| %>
            <p class="complete-warp"><b>หัวข้อเรื่อง</b> : <%= list.title %> <%= link_to 'ลบ' , list_del_completed_path(list) , method: :delete %> <%= link_to 'นำกลับ' , list_completed_restore_path(list) , method: :post %></p>
            <hr>
        <% end %>
        <p><%= link_to "ลบรายการที่ทำสำเร็จแล้วทั้งหมด" , list_all_del_completed_path(@complete_list) , method: :delete , class: 'btn btn-danger' %></p>
      </div>
    </div>
  </div>
</div>
