<div class="col-md-12">
  <div class="col-md-9">
    <h3><span class="glyphicon glyphicon-list"></span> รายการ TODO</h3>
    <p>จำนวน TODO list ทั้งหมด  : <%= @count %></p>
    <h3><%=link_to 'เพิ่มรายการ TODO' , new_list_path , class: 'btn btn-info' %></h3>
    <% @lists.each do |list| %>
      <div class="well well-lg">
        <p class="text">หัวข้อเรื่อง : <%= list.title %></p>
        <p>ผู้ใช้ : <%= list.user.email %></p>
        <div class="right">
          <div class="col-m-3">
            <%=link_to "ลบ" ,  list_path(list) , method: :delete  , class: 'btn btn-danger' %>
            <%=link_to "ทำเสร็จแล้ว" , list_complete_path(list) , method: :post , class: 'btn btn-success'  %>
            <%=link_to "แสดงเพิ่มเติม" , list_path(list) , class: 'btn btn-info' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-3">
    <h3><span class="glyphicon glyphicon-ok"></span> สิ่งที่ทำเสร็จแล้ว</h3>
    <p>จำนวน TODO list ที่ทำเสร็จทั้งหมด : <%= @complete_count %></p>
    <% @complete_list.each do |list| %>
        <p class="text-completed">หัวข้อเรื่อง: <%= list.title %></p>
    <% end %>
    <p><%= link_to "ลบรายการที่ทำสำเร็จแล้วทั้งหมด" , list_all_del_completed_path(@complete_list) , method: :delete , class: 'btn btn-danger' %></p>
  </div>
</div>
