<div class="well" >

    <p>หัวข้อเรื่อง : <%= @list.title %></p>

    <p>คำอธิบาย : <%= @list.description %></p>

    <p>วันสิ้นสุด : <%= @list.finishedDate %></p>

    <p>ผู้ใช้งาน : <%= @list.user.email %></p>

    <%= link_to "กลับ" , lists_path , class: 'btn btn-default' %>
</div>
