<div class="panel panel-info" >
  <div class="panel-heading"><h3 class="text-center warp-show"><b>หัวข้อเรื่อง</b> : <%= @list.title %></h3></div>
  <div class="panel-body">
    <p class="warp-show"><b>คำอธิบาย</b> : <%= @list.description %></p>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p><b>วันเริ่มต้น</b> : <%= @list.show_startdate  %></p>
        <p><b>วันสิ้นสุด</b> : <%= @list.show_dateline %></p>
        <p><b>เวลาที่เหลือ</b> : <%= @list.cal_remain_date %> </p>
      </div>
      <div class="col-md-6">
        <p><b>ผู้ใช้งาน</b> : <%= @list.user.name_email %></p>
        <p><b>ความสำคัญ : </b><span class="label" style="background-color: <%= @list.priority_color %>"><%=@list.priority_with_name %></span></p>
      </div>
    </div>
    <hr>
    <%= link_to " กลับ" , lists_path , class: 'pull-right fa fa-chevron-left btn btn-default' %>
  </div>
</div>
