<div class="container">
  <% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>ยินดีต้องรับคุณ  <%= current_user.name_email %></h2>
        <p>1
          ขอให้มีความสุขกับการใช้งานระบบ TODO
        </p>
        <p>
          <%= link_to 'TODO LIST' , lists_path , class: 'btn btn-success' %>
        </p>
      </div>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>สร้างรายการ TODO</h2>
        <p>
          เข้าร่วมกับเราเพื่อสร้างรายการ TODO แบบง่ายๆ
        </p>
        <p>
          <%= link_to "เข้าร่วมกับเรา" , new_user_registration_path , class: 'btn btn-primary'  %>
          <%= link_to "ลงชื่อเข้าใช้งาน" , new_user_session_path , class: 'btn btn-success' %>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>ทดสอบ</h2>
        <p>
          ทดสอบ
        </p>
        <p>
          <%= link_to "เข้าร่วมกับเรา" , new_user_registration_path , class: 'btn btn-primary'  %>
          <%= link_to "ลงชื่อเข้าใช้งาน" , new_user_session_path , class: 'btn btn-success' %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
