<div class="container">
  <% if user_signed_in? %>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>Welcome Back</h2>
        <p>
          You can go to your TODO list anytime
        </p>
        <p>
          <%= link_to 'TODO LIST' , lists_path , class: 'btn btn-success' %>
        </p>
      </div>
    </div>
  </div>
  <% else %>
  <div class="row">
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>Make TODO</h2>
        <p>
          Join us to create easy todo list
        </p>
        <p>
          <%= link_to "Join Us" , new_user_registration_path , class: 'btn btn-primary'  %>
          <%= link_to "Log In" , new_user_session_path , class: 'btn btn-success' %>
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="jumbotron">
        <h2>Complete Todo list</h2>
        <p>
          Easy method to click complete todo list
        </p>
        <p>
          <%= link_to "Join Us" , new_user_registration_path , class: 'btn btn-primary'  %>
          <%= link_to "Log In" , new_user_session_path , class: 'btn btn-success' %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
