<!DOCTYPE html>
<html>
  <head>
    <title>Todo Lists</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Prompt">

    <!-- icon -->
    <link rel="shortcut icon" href="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/sign-check-icon.png">

    <!-- SEO -->
    <meta name="description" content="todolist">
    <meta name="author" content="Taweesak Intaratat">
    <meta name="keywords" content="web application , todolist , hobby dev">
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to 'TODO' , root_path , class: 'navbar-brand' %>
          </div>
          <ul class="nav navbar-nav navbar-right">

            <% if user_signed_in? %>
              <li><a href="<%= lists_path	 %>"><i class="fa fa-bars" aria-hidden="true"></i> รายการ TODO</a></li>
              <li><a href="<%= edit_user_registration_path %>"><i class="fa fa-user-circle-o" aria-hidden="true"></i> <%= current_user.name_email %></a></li>
              <li><%= link_to "ออกจากระบบ", destroy_user_session_path ,method: :delete , class: 'fa fa-sign-out' %></li>
            <% else %>
              <li><a href="<%= new_user_registration_path %>"><i class="fa fa-user-circle" aria-hidden="true"></i> สมัครสมาชิก</a></li>
              <li><a href="<%= new_user_session_path %>"><i class="fa fa-sign-in" aria-hidden="true"></i> ลงชื่อเข้าใช้</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container-fluid margintop80px marginbottom80px">
      <%= yield %>
    </div>

    <div class="container-fluid">
      <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          <p class="navbar-text pull-right">© 2017 - Make With <span class="glyphicon glyphicon-heart redheart"></span> By
            <a href="https://github.com/game1095" target="_blank" >Game1095</a>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
