<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to 'TODO' , root_path , class: 'navbar-brand' %>
          </div>
          <ul class="nav navbar-nav navbar-right">

            <% if user_signed_in? %>
              <li><a href="<%= lists_path	 %>"><span class="glyphicon glyphicon-list"></span> รายการ TODO</a></li>
              <li><a href="<%= edit_user_registration_path %>"><span class="glyphicon glyphicon-user"></span> <%= current_user.name_email %></a></li>
              <li><%= link_to "ออกจากระบบ", destroy_user_session_path ,method: :delete , class: 'glyphicon glyphicon-log-out' %></li>
            <% else %>
              <li><a href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-user"></span> สมัครสมาชิก</a></li>
              <li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> ลงชื่อเข้าใช้</a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container-fluid margintop80px marginbottom80px">
      <%= yield %>
    </div>

    <div class="container-fluid">
      <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
          <p class="navbar-text pull-right">© 2017 - Make With <span class="glyphicon glyphicon-heart redheart"></span> By
             <a href="https://github.com/game1095" target="_blank" >Game1095</a>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>
